{% extends "::base.html.twig" %}


{% block body %}

	<!-- Liste des conventions -->
	<ul class="list-group">
		{% for convention in conventions %}
			<li class="list-group-item"> 
				<a href="{{ path('MyConventions_convention', {'id': convention.id}) }}">
					<div class="row">
						<div class="col-md-2">
							<img src="{{ convention.thumbnail }}" width="120px;"/>
						</div>
	  					<div class="col-md-10">
	  						<h4 style="color:dark gray;">{{ convention.name }}</h4>
							<span style="color:gray;font-size:12px;">{{ convention.date }}</span>
	  					</div>
					</div>	
				</a>
			</li>
		{% else %}
			<li class="list-group-item">Pas encore de convention!</li>
		{% endfor %}
	</ul>
	
{% endblock %}