{% extends "::base.html.twig" %}


{% block body %}

	<!-- Liste des conventions -->
	<ul class="list-group">
		{% for convention in conventions %}
			<li class="list-group-item"> {{ convention.name }} </li>
		{% else %}
			<li class="list-group-item">Pas encore de convention!</li>
		{% endfor %}
	</ul>
	
{% endblock %}